@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background-image: url('imagens/ctf.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgb(0, 0, 0, 0.8);

}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu-item:hover{
    background-color: rgba(10, 235, 55, 0.8);
    
}
#cabecalho-menu {
    background-color: rgba(0, 0, 0, 0.8); 
       
}

#cabecalho-menu ul{
  
    list-style: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);  
}

#cabecalho-menu ul li {
    display: inline;   
}

#cabecalho-menu ul li a{
    color: aliceblue;     
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;   
    transition: background .2s;
}

#cabecalho-menu ul li a:hover{
    background-color: rgba(15, 237, 15, 0.8);       
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.09px solid rgb(9, 227, 60);
}

.conteudo-principal{
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
       
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 64px;
    color: aliceblue;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.conteudo-principal-escrito-botao{
    background-color: aliceblue;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: #fff;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-imagem{
    height: 200px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
  }

.conteudo-secundario-titulo{
    margin-top: 48px;
    border-top: 0.09px solid rgb(9, 227, 60);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.rodape{
    padding: 32px;
    border-top: 0.09px solid rgb(9, 227, 60);
    background-color: rgb(0, 0, 0, 0.8);
}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}
