@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    font-size: 100%;
    background-image: url("../imagens/facebook2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgb(0, 0, 0, 0.8);

}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-weight: 700;
    font-size: 26px;
}

.cabecalho-menu-item:hover{
    background-color: rgb(32, 4, 169);
    padding: 10px;
    
   
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.09px solid rgb(32, 4, 169);
    
}

.conteudo-principal{
    padding: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
       
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 64px;
    color: aliceblue;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}

.conteudo-principal-imagem{
    height: 200px;
}

.conteudo-meio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}   

.conteudo-meio-input{
    background-color: aliceblue;
    width: 600px;
    height: 40px;
    border: none;
    box-shadow: #fff;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
}


.conteudo-meio-input2{
    background-color: aliceblue;
    width: 200px;
    height: 40px;
    border: none;
    box-shadow: #fff;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.conteudo-meio-input2:hover{
    background-color: rgb(251, 94, 4);
    box-shadow: #fff;
    color: #fff;
}   

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
  }

.conteudo-secundario-titulo{
    margin-top: 48px;
    border-top: 0.09px solid rgb(32, 4, 169);
    padding-top: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.rodape{
    padding: 32px;
    border-top: 0.09px solid rgb(32, 4, 169);
    background-color: rgb(0, 0, 0, 0.8);
}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}
